:root{
    --font-set:ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #ffffff;
    font-family: var(--font-set);
    background-color: #08090a;
}


.hero{
    background-image: url(./assests/bg-dark.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 15px;
}


.navstart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    font-family: var(--font-set);
    font-weight: 700;
    margin-left: 234px;
}

.navmid{
    display: flex;
    gap: 25px;
}

.navmid  a{
    text-decoration: none;
    color: #ffff;
    font-family: var(--font-set);
    font-weight: 500;
    
}

.navend{
    margin-right:230px;
}

.contactsales{

    font-family: var(--font-set);
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #0f1729;
    backdrop-filter: blur();

}

.startforfree{
    font-family: var(--font-set);
    font-size: 16px;
    font-weight: 500;
    color: white;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(80px);
}

.herogridbox{
    display: flex;
    flex-direction: column;

}


.griditem{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.griditem1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.itemgriditem1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(14px);
    height: 25;
    font-family:var(--font-set);
    font-weight: 500;
    gap: 10px;
    padding: 5px 5px;
    border-radius: 40px;
    font-size: 16px;
}

.itemgriditem1 button {
    background-color: #0c8c5e;
    color: white;
    border: none;
    box-shadow: none;
    padding: 5px 5px;
    border-radius: 40px;
    font-style: var(--font-set);
    font-weight: 500;
    font-size: 12px;
}

.griditem2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    
}

.griditem2 div{
    margin-top: 0;
}

.griditem2 h1 {
    font-family: var(--font-set);
    font-size: 61px;
}

.griditem3{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.griditem3 div{
    font-weight: 600;
}

.itemgriditem4{
    background-color:grey;
    margin-top: 50px;
    margin-bottom: 96px;
}


.herosvg svg{
    border-radius: 30px;
    border: 2px solid grey;
    box-shadow: black;
    border-color: grey;
    
}

.company {
    
    padding-top :400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section4{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}

.sectext2 p{
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6 );
}


.video1{
    margin-top: 50px;
}

.section5 {
 
    background: #151616;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
    gap: 40px;
    margin-top: 100px;
}

.section6{
    margin-top: 100px;
}

.documentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.documentation .cta {
  margin: 40px auto;
}
.documentation .cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
}
.documentation .cards div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 100%;
  padding: 30px 5px;
}
.documentation .cards div .icon {
  width: 60px;
  padding: 5px;
  border: 1px solid #79797938;
  border-radius: 20px;
  margin-bottom: 25px;
}
.documentation .cards div .icon img {
  width: 100%;
}
.documentation .cards div label {
  margin-top: 30px;
}
footer {
  border: 1px solid #79797938;
  margin-top: 60px;
}
.footer-top {
  border-bottom: 1px solid #79797938;
  display: flex;
  padding: 30px;
  margin-top: 50px;
  justify-content: space-between;
}
.footer-top .social-media {
  display: flex;
  gap: 20px;
  height: 20px;
}
.footer-top .social-media a img {
  height: 100%;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 60px 40px;
  border-bottom: 1px solid #79797938;
}
.footer-container nav label {
  color: #b4b6b6;
}
.footer-container nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.footer-security-bottom {
  border-bottom: 1px solid #79797938;
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.footer-security-bottom img {
  border-radius: 50px;
  height: 70px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-bottom: 50px;
}
.footer-bottom label {
  background-color: #212222;
  padding: 3px 10px;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
}









