:root{
    --font-set:ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #ffffff;
    font-family: var(--font-set);
    background-color: #08090a;
}


.hero{
    background-image: url(./assests/bg-dark.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 15px;
}


.navstart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    font-family: var(--font-set);
    font-weight: 700;
    margin-left: 234px;
}

.navmid{
    display: flex;
    gap: 25px;
}

.navmid  a{
    text-decoration: none;
    color: #ffff;
    font-family: var(--font-set);
    font-weight: 500;
    
}

.navend{
    margin-right:230px;
}

.contactsales{

    font-family: var(--font-set);
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #0f1729;
    backdrop-filter: blur();

}

.startforfree{
    font-family: var(--font-set);
    font-size: 16px;
    font-weight: 500;
    color: white;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(80px);
}

.herogridbox{
    display: flex;
    flex-direction: column;

}


.griditem{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.griditem1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.itemgriditem1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(14px);
    height: 25;
    font-family:var(--font-set);
    font-weight: 500;
    gap: 10px;
    padding: 5px 5px;
    border-radius: 40px;
    font-size: 16px;
}

.itemgriditem1 button {
    background-color: #0c8c5e;
    color: white;
    border: none;
    box-shadow: none;
    padding: 5px 5px;
    border-radius: 40px;
    font-style: var(--font-set);
    font-weight: 500;
    font-size: 12px;
}

.griditem2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    
}

.griditem2 div{
    margin-top: 0;
}

.griditem2 h1 {
    font-family: var(--font-set);
    font-size: 61px;
}

.griditem3{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.griditem3 div{
    font-weight: 600;
}

.itemgriditem4{
    background-color:grey;
    margin-top: 50px;
    margin-bottom: 96px;
}


.herosvg svg{
    border-radius: 30px;
    border: 2px solid grey;
    box-shadow: black;
    border-color: grey;
    
}

.company {
    
    padding-top :400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section4{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}

.sectext2 p{
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6 );
}


.video1{
    margin-top: 50px;
}

.aninmation2{
    
}









