@font-face {
  font-family: "Cursor Regular";
  src:
    url("./assests/CursorGothic-Regular.woff2") format("woff2"),
    url("./assests/CursorGothic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

:root{
    --background-color : #14120B;
    --font-color: #edecec;
}

body{
    background-color: var(--background-color);
    color:var(--font-color);

    font-family: 'Cursor Regular';
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
    font-size: 20px;
    font-family: "Cursor Regular";
    margin-left: 110px;
    position: fixed;
    background-color: var(--background-color);
    width: 85%;
    top:0;
}

.navstart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navstart span{
    margin-top:5px;
}


.navmid{
    display: flex;
    gap: 20px;
    font-family: "Cursor Regular";
    font-size: 15px;
    font-weight: 100;

}

.navmid a{
    color: var(--font-color);
    text-decoration: none;
    
    
}

.navlast{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "Cursor Regular";
    font-size: 15px;
}

.signinbutton{
    font-size: 12px;
    font-family: 'cursorgothic';
    box-shadow: none;
    background-color: var(--background-color);
    color: var(--font-color);
    text-shadow: none;
    border-style: solid;
    padding: 5px 10px;
    border-radius: 20px;
    border-color: white;
    font-weight: 50;
    font-family: 'MyFont';
}

.nav-download{
    font-size: 12px;
    font-family: "Cursor Regular";
    padding: 5px 15px;
    border-radius:20px ;
    font-weight: 100;
}

.section1{
    
    margin-left: 110px;
    margin-right: 120px;
    margin-top: 180px;
}

.section1 div .terminalimage{
    width: 100%;
    border-radius: 8px;
 
    margin-bottom: 80px;
}

.section1 h1{
    font-family: "Cursor Regular";
    font-weight: 100;
    padding-bottom: 20px;
}


.section1-download{
    
    font-size: 16px;
    margin-bottom: 60px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: var(--font-color);
}
.section1-download span {
   
    font-weight: 500;
    font-size: 18px;
}

.brandtext{
    display: flex;
    justify-content: center;
    align-items: center;
}

.brandtext p{
    font-weight: 200;
    font-size: 15px;
}

.brandname{
    margin-top: 50px;
    display: flex;
    margin-left: 110px;
    margin-right: 120px;
    justify-content: space-around;
    gap: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: #1B1913;
    border-radius: 10px;
    
    
}

.card img {
    width: 100px;
    height: auto;
}


.layout{
    display: flex;
    
    margin-top: 100px;
    margin-left: 110px;
    margin-right: 120px;
    background-color: #1B1913;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;

}


.imagelayout{
    margin: 20px;
    width: 840px;
    height: 650px;
    border-radius: 8px;
}

.textlayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    gap: 0px;
}

.p1 {
    font-size: 22px;
    color: #EDECEC;
}

.p2 {
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6 );
    font-size: 22px;
    margin-top: 0px;
}

.p3 {
    color: #F54E00;
    margin-top: 20px;
}


.layout2{
    display: flex;
    margin-top: 100px;
    margin-left: 110px;
    margin-right: 120px;
    background-color: #1B1913;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;

}

.imagelayout2{
    margin: 20px;
    width: 840px;
    height: 650px;
    border-radius: 8px;
}

.textlayout2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    gap: 0px;
}



.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-left: 110px;
    margin-right: 120px;
}

.testimonial-text{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 50px;
}

.testimonial-grid{

    display: grid;
    grid-template-columns: repeat(3 , 1fr);
  
    gap: 10px;
    
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    height: 278px;
    background-color: #1B1913;
    border-radius: 8px;
    
}

.testimonial-card p {
    margin: 10px;
    font-size: 16px;
    font-weight: 100;
}


.author-intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
}

.author-intro img {
    
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.authortext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.authortext h4{
    font-size: 14px;
    font-weight: 100;
}


.authortext p{
    margin-top: 0px;
    margin-left: 0px;
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6 );
    font-size: 14px;
    font-weight: 100;
}

.section3 {

    margin-left: 110px;
    margin-right: 120px;
    margin-top: 150px;
}

.section3grid {

    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap : 10px;
}


.section3h2 {
    font-family: "Cursor Regular";
    font-weight: 100;
}


.gridmodel {
    
    background-color: #1B1913;
    padding: 15px 0px 15px 15px;
    border-radius: 8px;
}


.gridmodel .p1 {
    font-size: 18px;
    color: #EDECEC;
}

.gridmodel .p2 {
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6 );
    font-size: 18px;
    margin-top: 10px;
}

.gridmodel .p3 {
    color: #F54E00;
    margin-top: 30px;
}

.gridmodel img {

    margin-top: 15px;
    width: 392px;
    height: 392px;
    border-radius: 8px;
}

.section4 {
    
    margin-left: 110px ;
    margin-right: 120px;
    margin-top: 150px;
}

.section4gridbox{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    margin-top: 30px;
    gap: 10px;
    margin-bottom: 30px;
}

.gridcard{
    background-color: #1b1913;
    width: 312px;
    height: 121px;
    padding: 15px;
    border-radius: 8px;
}


.gridcard button{
    background-color: #1b1913;
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6 );
    font-weight: 600;
    border: none;
    padding: 2px 10px;
    border: 1px solid grey;
    border-radius: 40px ;
    
    
}

.carddate {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    color: oklab(0.943853 0.00107113 0.000336707 / 0.6 );
}






